.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/crash.log
infrastructure/crash.*.log
infrastructure/override.tf
infrastructure/override.tf.json
infrastructure/*_override.tf
infrastructure/*_override.tf.json
infrastructure/.terraformrc
infrastructure/terraform.rc

